*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}



a, a:active, a:hover, a:focus {
    text-decoration: none;
    color: black;
}

.underline {
    position: relative;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;
}

.underline:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	content: "";
	transition: width 0.3s ease-out;
    background-color: black;
}

.underline:hover:after,
.underline:focus:after {
	width: 100%;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    width: 100%;
}

.header>.container {
    height: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header__logo {
    display: block;
    margin-right: 340px;
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: 700;
}

.header__nav {
    display: flex;
}

.header__nav > .header__nav__item {
    display: block;
    margin-right: 40px;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
}

.header__nav__item:last-child {
    margin-right: 30px;
}

.home {
    height: 655px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.home__background {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.home__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 0;
}

.home__title {
    position: relative;
    z-index: 1;

    width: 100%;
    padding-top: 175px;

    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: 700;
}

.home__subtitle {
    position: relative;
    z-index: 1;

    width: 100%;
    padding-top: 20px;

    color: white;
    text-align: center;
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: 400;
}

.home__btns {
    display: flex;
    margin-top: 110px;
}

.home__btns a {
    display: block;
    position: relative;
    z-index: 1;
    width: 220px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 700;

    border-color: white;
    border-width: 3px;
    border-style: solid;
}

.home__btns a:hover {
    background-color: #00897b;
    border-color: #00897b   ;
    transition-duration: 0.2s;
}

.home__btns__first {
    margin-left: 350px;
}

.home__btns__second {
    margin-left: 25px;
}

.about {
    height: 672px;
    text-align: center;
}

.about__title {
    margin-top: 120px;

    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
}

.about__subtitle {
    width: 630px;
    margin: 35px auto 0px auto;

    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
}

.about__cards {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-column-gap: 130px;
    justify-content: center;
}

.about__cards__item__title {
    margin-top: 40px;

    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
}

.about__cards__item__subtitle {
    margin-top: 28px;

    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
}

.services {
    height: 1400px;
    background-color: #e4fdf9;
    text-align: center;
}

.services__title {
    padding-top: 170px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
}

.services__subtitle {
    width: 630px;
    padding-top: 36px;
    margin: 0 auto;

    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
}

.services__cards {
    padding-top: 110px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
}

.services__cards__item {
    pointer-events: none;
    background-color: white;
    height: 440px;
}

.services__cards__item__icon {
    margin-top: 55px;
}

.services__cards__item__title {
    margin-top: 40px;

    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
}

.services__cards__item__text {
    width: 280px;
    margin: 24px auto 0 auto;

    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
}

.services__cards__item__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 55px;
    border: 2px solid black;
    margin: 45px auto 0 auto;

    pointer-events: auto;
}

.services__cards__item__btn > p {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
}

.services__cards__item:hover {
    background-color: #00897b;
    border-color: white;
    color: white;
    transition-duration: 0.2s;
}

.services__cards__item:hover .services__cards__item__btn {
    background-color: #00897b;
    border-color: white;
    color: white;
    transition-duration: 0.2s;
}

.latest {
    height: 1616px;
    text-align: center;
}

.latest__title {
    margin-top: 128px;

    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
}

.latest__subtitle{
    width: 630px;
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #212121;
    padding-top: 36px;
    margin: 0 auto;

    color: #212121;
}

.latest__btns {
    display: flex;
    margin-top: 115px;
}

.latest__btns div {
    position: relative;
    z-index: 1;
    
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;

    border-color: #00897b;
    border-width: 3px;
    border-style: solid;

    letter-spacing: 0.05em;

    color: #212121;
}

.latest__btns div:hover {
    background-color: #00897b;
    border-color: #00897b   ;
    color: white;
    transition-duration: 0.2s;
}

.latest__btns__ALL {
    margin-left: 244px;
    width: 100px;
}

.latest__btns__WEB{
    margin-left: 20px;
    width: 179px;
}

.latest__btns__DESIGN{
    margin-left: 20px;
    width: 179px;
}

.latest__btns__MOCKUPS{
    margin-left: 20px;
    width: 179px;
}

.latest__cards{
    position: relative;
    padding-top: 120px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
}

.latest__cards__item {
    background-color: black;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.latest__cards__item img:hover {
    transition-duration: 0.2s;
    opacity: 0.5;
}

.latest__cards__item img{
    position: absolute;
    z-index: 1;
}

.latest__cards__item:hover p {
    transition-duration: 0.2s;
    color:white;
    visibility: visible;  
}

.latest__cards__item p:hover ~ img {
    transition-duration: 0.2s;
    opacity: 0.5;
}

.img_title {
    position:relative;
 
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 0.05em;

    visibility: hidden;  

    z-index: 2;
}

.img_subtitle {
    position:relative;
 
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 0.05em;

    visibility: hidden;  

    z-index: 2;
}

.latest__btn__all{
    height: 70px;
    width: 220px;

    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: 0.05em;

    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: #00897b;
    color: #212121;
    margin: 128px auto auto auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.latest__btn__all:hover {
    background-color: #00897b;
    color: white;
    transition-duration: 0.2s;
}


.pricing__plan{
    height: 1142px;
    background-color: #f0f1f1;
    text-align: center;
}

.plan__title {
    padding-top: 126px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
}

.plan__subtitle{
    width: 630px;
    padding-top: 36px;
    margin: 0 auto;

    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
}

.pricing__cards{
    padding-top: 124px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
    
}

.pricing_cards__item:hover {
    box-shadow : 5px 5px 10px 2px rgb(155, 153, 153);
}

.pricing_cards__item {
    background-color: white;
    height: 667px;
}

.free__trail__plan, .basic__plan, .ultimates__plan{
    
    background: #3949ab;
    color: #fff;
    position: relative;
    z-index: 1;
    height: 178px;
}
     
.free__trail__plan:after, .basic__plan::after, .ultimates__plan:after {
      
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-4.5deg);
    transform-origin: 100%;
    z-index: -1;
}

.free__trail__tittle, .basic__tittle, .ultimates__tittle{
    
    padding-top: 48px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 25px;
}

.free__trail__price, .basic__price, .ultimates__price{
    
    font-size: 50px; 
    font-family: 'Open Sans';
    font-weight: 400;
    letter-spacing: 1.5px;

}

.free__trail__info, .basic__info, .ultimates__info{

    padding-top: 45px;
    margin: 0 auto;   
}
    
.free__trail__info div, .basic__info div, .ultimates__info div{
    
    font-size: 17px; 
    font-family: 'Open Sans';
    font-weight:200; 
        
    width: 170px;
    height: 65px;
    margin:0 auto;

    display: grid;
    align-items: end;
    padding-bottom: 8px;
    border-bottom-style:solid;
    border-width: 1px;
}
    
.free__trail__orderNow__btn, .basic__orderNow__btn, .ultimates__orderNow__btn{
        
    margin: 0 auto; 
    margin-top: 60px;
    position: relative;
    z-index: 1;
    width: 170px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: black;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    
    border-color: black;
    border-width: 3px;
    border-style: solid;
}
    
.free__trail__orderNow__btn:hover, .basic__orderNow__btn:hover, .ultimates__orderNow__btn:hover {
        
    background-color: #00897b;
    border-color: #00897b   ;
    transition-duration: 0.2s;
    color: white;
}

.our_team_member{
        
    height: 1094px;
    background-color: #ffffff;
    text-align: center;
}
    
.team_title{
        
    padding-top: 123px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
}
    
.team_subtitle{
        
    width: 630px;
    padding-top: 36px;
    margin: 0 auto;
    
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
}

.all_team_members{

    padding-top: 123px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
    
}

.team_member_first, .team_member_second, .team_member_third{
    background-color: white;
    height: 486px;
}

.member1_name, .member2_name, .member3_name{
    padding-top: 38px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
}

.member1_position, .member2_position, .member3_position{
    padding-top: 12px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
}

.member1_messangers, .member2_messangers, .member3_messangers{
    padding-top: 32px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 27px;
     
}

.facebook_icon, .twitter_icon, .chat_icon, .dribble_icon{  
    color: #00897b;  
}

.facebook_icon:hover, .twitter_icon:hover, .chat_icon:hover, .dribble_icon:hover {
    border-color: white;
    color: #3949ab;
    transition-duration: 0.2s;
}

.pages_cuircle{
    padding-top: 125px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 13px);
    grid-gap: 10px;   
}

.cuircle{
    color: #00897b;   
}

.cuircle :hover{
    color:#3949ab;
}

.blog {
    height: 1870px;
    width: 100%;
    background-color: #e4fdf9;

    font-family: 'Open Sans';
}

.blog__title {
    text-align: center;
    padding-top: 125px;
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 30px;
}

.blog__subtitle {
    text-align: center;
    width: 630px;
    margin: 0 auto  120px auto;

    font-weight: 400;
    font-size: 15px;
}

.blog__content {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.blog__content__article__title {
    display: block;
    margin-top: 60px;
    margin-bottom: 22px;

    font-weight: 600;
    font-size: 25px;
}

.blog__content__article__title:hover {
    color: #00897b;
    transition-duration: 0.2s;
}

.blog__content__article__data, .blog__content__article__data  * {
    display: flex;

    align-items: center;
}

.blog__content__article__data p {
    margin-left: 12px;

    font-weight: 600;
    font-size: 17px;
}

.blog__content__article__data__file {
    margin-left: 40px   ;
}

.blog__content__article__subtitle {
    margin-top: 20px;
    width: 450px;

    font-size: 15px;
    font-weight: 400;
}

.blog__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 220px;
    height: 70px;
    margin: 120px auto 0 auto;
    background-color: #00897b;


    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
}

.blog__btn:hover {
    color: white;
    cursor: pointer;
}

.footer{
    position: relative;
    overflow: hidden;

    font-family: 'Open Sans';
    width: 100%;
    height: 1320px;
    background-color: #212121;
}

.footer * {
    position: relative;
    z-index: 1;
}

.footer__background {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.footer__title{
    padding-top: 128px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
    text-align: center;
}

.footer__subtitle{
    width: 630px;
    padding-top: 36px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color:white; 
    
    text-align: center;
    width: 630px;
    margin: 0 auto 0 auto;
}

.footer__contacts{
    padding-top: 101px;

    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-column-gap: 30px;
    justify-content: center;
}

.footer__contacts__item{
    height: 270px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 30 0 30;
}

.footer__contacts__item__icon{
    border-radius: 50%;
    width: 107px;
    height: 107px;
    background-color: #3949ab;
    margin: 0 auto 0 auto;
    display : flex;
    align-items : center;
    justify-content : center;
}

.footer__contacts__item__text{
    padding-top: 39px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: white;
}

.footer__form {
    display: flex;
    flex-wrap: wrap;
    width: 1030px;
    margin: 0 auto;
}

.footer__form * {
    border-radius: 10px;

    font-weight: 600;
    font-size: 20px;
}

.footer__form__name {
    width: 500px;
    height: 83px;
    margin-right: 30px;

    padding-left: 20px;
}

.footer__form__email {
    width: 500px;
    height: 83px;

    padding-left: 20px;
}

.footer__form__message {
    width: 100%;
    height: 320px;

    padding-top: 10px;
    padding-left: 20px;
    margin-top: 30px;
}

.footer__form__btn {
    width: 220px;
    height: 75px;
    background-color: white;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;

    margin: 40px 0 0 auto;
}

.footer__form__btn:hover {
    background-color: gray;
    transition-duration: 0.2s;
}

.footer__copyrights {
    background-color: #fff;
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;

    position: absolute;
    bottom: 0px;
    left: 0px;
}